<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">  <!--可以在这里设置default-autowire-->

    <bean id="userDao" class="cn.sxt.dao.impl.UserDaoMySqlImpl"/>
    <!--autowire自动装配(Autowiring modes) 简化spring配置
        no 不使用（默认）
        byName 根据名称（set方法名来的）去查找相应的bean，如果有则装配上
        byType 根据类型进行自动装配 不用管bean的id
               但是同一种类型的bean只能有一个（比如不能同时有mysqlDao和oracleDao） 所以建议慎用byType
        constructor 当通过构造器注入实例化bean时 使用byType的方式装配构造方法
    -->
    <bean id="service" class="cn.sxt.service.impl.UserServiceImpl" autowire="constructor"/>   <!--自动装配-->
</beans>